:root{
   --main-color:#F7E4CC; 
   --branding-color:#8a2be2;
   --heading-font-family:'Playfair Display', serif;
   --default-font-family:'Poppins', sans-serif;
}
body{
    font-family: var(--default-font-family);
}

h1,h2,h3,h4,h5,h6{

 font-family:var(--heading-font-family);
 font-weight: bold;

}
h1{
    font-size: 96px;
}
h2{
    font-size: 64px;
}
p{
    font-family:var(--default-font-family);
    font-weight: normal;  
    font-size:16px;
    line-height:30px;
}
.hero{
    background-color:var(--main-color);
    text-align: center;
    padding:200px 20px;
}

.hero p{
   font-size: 36px;
   font-weight:bold;
   margin:0;
}
.hero h2{
    font-family: var(--default-font-family); 
    font-weight:normal;
    line-height:1;
    font-size: 24px;
    color:#272142;
}
.content{
    margin:120px;
    padding:200px 20px;
   
}
.content h1{
    font-size:48px;
}

.content h2{
    font-size: 36px;
}
.content img{
    border-radius: 30px;
    border-color: var(--branding-color);
}
.btn-branding{
    background-color: var(--branding-color);
    border: 1px solid #a27ac9;
    border-radius: 4px;
    color:white;
    font-size: 18px;
    padding:15px 30px;
}
.btn-branding-projects{
    font-size: 18px;
    padding:7px 15px;
    line-height: 27px; 
    border-radius: 4px;
    color:var(--branding-color);
    border: 1px solid var(--branding-color);
}



.project-description{
    padding:60px 30px ;
}
@media(max-width:900px){
    .project-description{
        padding:0;
        text-align: center;
    }
    h1{
        font-size:48px;
        line-height:1;
    }
    h2{
        font-size: 36px;
    }
    .hero{
       padding: 80px 20px;
    }
   .content{
       text-align:center;
       margin:60px;
       padding: 80px 20px;
       line-height: 56px;
   }
   .content h1{
       font-size:36px;
   }
   .content h2{
       font-size: 24px;
   }
}